.use
    min-height: 1024px
    padding-bottom: 120px
    &__wrapper
        margin: 0 auto
        margin-top: 60px
        display: grid
        grid-template-columns: repeat(4, minmax(auto, 270px))
        grid-template-rows: repeat(2, minmax(270px, auto))
        grid-auto-rows: minmax(270px, auto)
        row-gap: 20px
        column-gap: 20px
        justify-content: center
    &__elem
        border: 1px solid #000
        padding: 30px
    &__description
        font-size: 12px
        margin-top: 12px
    &__icon
        height: 72px
.rating
    &__wrapper
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(3, 350px)
        grid-auto-rows: repeat(2, minmax(70px, auto))
        justify-content: space-around
        row-gap: 30px
        margin-top: 120px
    &__elem
        display: grid
        grid-template-rows: 21px 14px
        grid-template-columns: 200px 35px
        justify-content: space-between
        row-gap: 30px
        position: relative
    &__line
        width: 350px
        height: 14px
        border-radius: 4px
        background-color: #b7abb3
        span
            background-color: $main-color
            height: 100%
            display: block
            border-radius: 4px